.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}

.box_shadow{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}

.card {
    /*max-width: 1200px!important;*/
}
.simple_card{
    background-color: rgb(255, 255, 255);
    color: rgb(33, 43, 54);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-image: none;
    overflow: hidden;
    box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px, rgb(145 158 171 / 24%) 0px 16px 32px -4px;
    border-radius: 8px;
    padding: 16px 16px 16px 24px;
}
.widget_card{
    background-color: rgb(255, 255, 255);
    color: rgb(33, 43, 54);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-image: none;
    box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px, rgb(145 158 171 / 24%) 0px 16px 32px -4px;
    border-radius: .25rem;
    position: relative;
    z-index: 0;
    display: flex;
    /*align-items: center;*/
    justify-content: space-between;
    padding: 16px 16px 16px 16px;
    min-height: 140px;
    max-height: 207px;
    overflow: auto;
}

.image_box{
    width: 80px;
    height: 80px;
    line-height: 0;
    border-radius: 50%;
    /*background-color: rgb(244, 246, 248);*/
}

.ellipsis_text{
    text-overflow: ellipsis;
    max-width: 240px;
    white-space: nowrap;
    overflow: hidden;
}

.custom-select-width{
    width: 200px!important;
}

.circle-danger-10 {
    width: 10px;
    height: 10px;
    background: red;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #dc143c;
}
.circle-success-10 {
    width: 10px;
    height: 10px;
    background: green;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #2e8b57;
}
.circle-warning-10 {
    width: 10px;
    height: 10px;
    background: orange;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #ff8c00;
}
.user-avatar-container{
    padding: 0 8px 0 8px;
    border: 1px solid #1c94fe;
    border-bottom-left-radius: 7px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.truncateAddress{
    max-width: 171px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.detailTr{
    color: #1c94fe;
    font-size: 0.9rem;
    margin-top: -8px;
    cursor: pointer;
}
.detailTr:hover{
    text-decoration: underline;
}
